.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: relative;
  padding: 1rem;
  max-width: 28rem;
  background-color: #fff;
  border-radius: 0.375rem;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.close-button {
  position: absolute;
  top: 0.75rem;
  right: 0.625rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.close-button svg {
  width: 2rem;
  height: 2rem;
  color: #cbd5e0;
}

.modal-content {
  padding: 1rem;
  text-align: center;
  color: #718096;
}
