@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.input-inside > input::placeholder,
.input-inside > h3 {
  font-weight: 400;
  font-size: 16px;
  font-family: 'Inter';
  color: #828282;
}
.input-inside {
  display: flex;
  align-items: center;
}
