@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.form-container>h4{
    font-family: 'Open Sans';
    font-size: 33.08px;
    font-weight: 600;
    line-height: 45.04px;
    color: #343434;
    margin-top: 98.2px;
    padding: 0 269px;
    margin-bottom: 40px;
}
.register-login{
    margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:439.39px ;
    height:286.6px;
    gap:22.05px;
    margin-bottom: 20px;
}

#butt:hover
{
    background-color: #4dcde0 !important;
}
