.welcome {
  height: 100vh;
  width: 1008.84px;
  background-color: #17a2b8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signin-container {
  height: 100%;
  width: 669.8px;
}

.welcome-content {
  width: 505.8px;
  height: 505.8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.welcome-pic {
  width: 505.8px;
  height: 505.8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  & > * {
    width: 260.86px;
    height: 301.82px;
  }
}

.welcome-text {
  width: 433px;
  height: 97px;
  position: absolute;
  top: 449.29px;
  right: 25.94px;
  display: flex;
  flex-direction: column;
  & > h1 {
    font-size: 33.08px;
    height: 60%;
    color: #ffffff;
    font-weight: 600px;
    line-height: 66.15px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }
  & > p {
    font-size: 19.29px;
    height: 50%;
    color: #ffffff;
    font-weight: 400px;
    line-height: 38.59px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }
}

.wel-pic {
  height: 301.82px;
  width: 260.86px;
  z-index: 3;
}

.pic-bg {
  background-color: #317f8b;
  width: 304.58px;
  height: 304.58px;
  border-radius: 50%;
  position: absolute;
  top: 64.78px;
  right: 92.34px;
}
