@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
.sidebar-container {
  width: 224px;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  border-right: 1px solid #edf5fe;
  color: #000000;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.sidebar-items {
  height: 24px;
  margin-left: 43px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  align-items: center;
  line-height: 24px;
}
.sidebar-head {
  width: 139px;
  cursor: pointer;
}
.sidebar-head > p {
  font-weight: 700;
}

.sidebar-board {
  width: 89px;
  text-decoration: none;
}
.sidebar-element-head {
  height: 43px;
  margin-top: 17px;
  display: flex;
  align-items: center;
}
.sidebar-element-tails {
  height: 140px;
  margin-top: 26.5px;
  display: flex;
  flex-direction: column;
  row-gap: 5.5px;
}
.sidebar-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 224px;
  height: 43px;
  text-decoration: none;
  color: #707070;
}
.sidebar-element:hover {
  background-color: #4391ed1a;
  cursor: pointer;
}

.sidebar-analytics {
  width: 115px;
}

.sidebar-settings {
  width: 106px;
}

.isAc a.active {
  color: #000000;
  background-color: #4391ed1a;
}
.logout-item {
  text-decoration: none;
}
.logg {
  margin-top: 460px;
}
.logout {
  color: #cf3636;
}

.logout-items {
  display: flex;
  justify-content: start;
  width: fit-content;
  gap: 16px;
  margin-left: 43px;
  cursor: pointer;
}

.sidebar-items-group{
  height : 100%;
  margin-bottom: 57px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;

}

