@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
.sidebar-container {
  width: 224px;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  border-right: 1px solid #edf5fe;
  color: #000000;
  box-sizing: border-box;
  /* display: flex; */
  flex-direction: column;
}
/* 
 * NOTE: if the items are active then black else #707070
 * */
.sidebar-items {
  height: 24px;
  margin-left: 43px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  align-items: center;
  line-height: 24px;
}
.sidebar-head {
  /* margin-top: 32px; */
  width: 139px;
}
.sidebar-head > p {
  font-weight: 700;
}

.sidebar-board {
  /* margin-top: 45px; */
  width: 89px;
}
.sidebar-element-head {
  height: 43px;
  margin-top: 17px;
  display: flex;
  align-items: center;
}
.sidebar-element-tails {
  height: 140px;
  margin-top: 26.5px;
  display: flex;
  flex-direction: column;
  row-gap: 5.5px;
}
.sidebar-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 224px;
  height: 43px;
}
.sidebar-element:hover {
  background-color: #4391ed1a;
  cursor: pointer;
}

.sidebar-analytics {
  /* margin-t: 36px; */
  width: 115px;
  color: #707070;
}

.sidebar-settings {
  /* margin-top: 32px; */
  width: 106px;
  color: #707070;
}
